<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.eggchart.priceupdater</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/dmitrytsuverkalov/Desktop/egg_chart/update_prices.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>0</integer>
        <key>Minute</key>
        <integer>1</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/dmitrytsuverkalov/Desktop/egg_chart/launch.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/dmitrytsuverkalov/Desktop/egg_chart/launch.error.log</string>
</dict>
</plist>
